

  
  <mat-form-field appearance="fill">
    <mat-label>BRANCH:</mat-label>
    <mat-select name="branchValue" [(ngModel)]="branchValue">
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>PROFILE:</mat-label>
    <mat-select name="selectorValue" [(ngModel)]="profileValue">
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>


  



  
 